html, body{
    height: 100%;
    margin: 0;
}

.Site {
    display: flex;
    flex-direction: column;
}

.Site-content {
    flex: 1;
    display: flex;
    overflow: auto;
}

.Site-header {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(217,223,226,0.89);
    height: 50px;
}

.header-Title {
    margin: 0 0 0.15em;
    word-spacing: 0.08em;
    font: 400 1em/1.4 Open Sans,sans-serif;
}

.Site-footer {
    height: 100px;
    background-color: #9fb4b5;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-right {
    align-self: flex-end;
}

.footer-right a{
    font-size: 35px;
    color: black;
    width: 35px;
    height: 35px;
}

.footer-right a:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
}

.Site-users {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    overflow: auto;
}

.Site-chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    background-color: antiquewhite;
}

.Chat-message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.Chat-message::after {
    content: "";
    clear: both;
    display: table;
}

.Chat-message img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.Chat-message img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.User-element {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: #999999 solid 1px;
}

.User-element img{
    max-width: 30px;
    margin-right: 20px;
    border-radius: 50%;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
